body {
    margin: 0;
    top:0;
    right:0;
    background-image: linear-gradient(to bottom,  #edf2f4,  #c7d3e8);
    height: 100vh;
    overflow-x: hidden;
    font-family: "Averia Serif Libre", serif;
}

header {
    background-image: linear-gradient(to right, #8d99ae, #2b2d42);
    margin-top: 0;
    padding: 1%;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    

}

#menuHeader {
    grid-template-columns: 10% 60% 30%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "nothing welcome profile" "nothing welcome logOut";
}

#welcomeMessage {
    grid-area: welcome;
}

#menuProfileUserName {
    grid-area: profile;
}

#logOutButton {
    grid-area: logOut;
    justify-self: center;
}




main {
    margin-left: 10px;
    margin-right: 10px;
    height: 60vh;
    
}

header h1 {
    padding-left: 5%;
}

  

footer {
    background-color:#8d99ae;
    height: 25vh;
    margin-bottom: 0;
    padding: 25px;
}

button {
    background-image: linear-gradient(to right, #d80032, #ef233c);
    border: solid 5px #ef233c;
    border-radius: 20em;
    width: 12.5em;
    height: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    align-items: center;
    font-family: "Averia Serif Libre", serif;
    font-size: 100%;
}

button:hover {
    cursor: pointer;
    border: solid 5px #ea6776;
    
}

.homebuttons {
    align-self: center;
    justify-self: center;
    

    
}

.buttoncontainer {
    padding: 1em;
    align-content: center;
    align-self: center;
    justify-self: center;
    place-self: center;
}

dialog {
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 200px;
}

input {
    padding: 2.5px;
    margin: 7.5px;
}

dialog h2 {
    padding-top: 0;
}


.popupHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popupChangesButton {
    width: fit-content;
    padding-left: 10px;
    margin-top: 50px;

}

#changeUserDetailsClose {
    background:none;
    width: 2.75em;
    border-radius: 50%;
}

#loadingOverlay {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #edf2f4;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;

}

.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #8d99ae;
    border-top: 5px solid #d80032;
    animation: spin 2s linear infinite;
    
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg)

    }
}

.fadeOutOfOverlay {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.profileUserName {
    display: grid;
    grid-template-areas: "name picture" "button picture";
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    border: solid 5px #d80032;
    background-image: linear-gradient(to right, #edf2f4 , #8d99ae);
    margin: 2px;
    border-radius: 50px;
}

#profilePictureDisplayed {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: right;
    padding: 5px;
    grid-area: picture;
}

#profilePictureDisplayed img {
    border-radius: 50%;
    width: 65%;
    justify-self: right;
    
}

#userNameDisplayed {
    /* padding: 5px; */
    padding-left: 20px;
    padding-bottom: none;
    padding-top: 5%;
    grid-area: name;
    
    
}

#changeUserDetailsButton {
    grid-area: button;
    background: none;
    text-align: left;
    text-decoration: underline;
    padding: 0;
    padding-bottom: 0.75em;
    padding-left: 25px;
    border-radius: 0;
    border: none;
    color:#244172;
}

#changeUserDetailsButton:hover {
    cursor: pointer;
    color:#542472;
}

.displayLeaderBoard {
    width: fit-content;
    height: 100vh;
    overflow-x: hidden;
    padding: 20px;
    justify-content: center;
    position: fixed;
    right: 50px;
    top: 25%;
}

.displayLeaderBoard p {
    background-color:#2b2d42;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    color:#edf2f4;
    text-align: center;
    overflow: auto;
}

.displayTopThree {
    display: grid;
    grid-template-areas:"first first first" "second nothing third"  ;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    /* background-color: #244172; */
    color: #edf2f4;
    border-radius: 20px;
    padding: 30px;
    margin-left: 5px;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* .displayTopThree h3 {
    padding: 30px;
} */

.firstPlace {
    /* display: flex; */
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-area: first;
    background-color:#244172;
    width: 33%;
    height: 100%;
    padding-left: 30px;
    /* animation: pulseAnimation 0.6s ease-in-out infinite; */
    
}

#nothing {
    background-color: #244172;
    grid-area: nothing;
    width: 100%;
    height: 100%;
    padding: 5px;

}

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #2b2d42;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 0 1px #2b2d42;
    }
    100% {
        tranform: scale(1);
        cox-shadow: 0 0 0 0 #2b2d42;
    }
}

.secondPlace {
    grid-area: second;
    background-color:#244172;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.thirdPlace {
    grid-area: third;
    background-color:#244172;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.topThreeTitles {
    text-align: center;
}

/* .geoDashPage {
    display: grid;
    grid-template-columns: 60% 40%;
} */

.gameButtons {
    /* border: solid 5px #244172; */
    width: 90%;
    height: 5em;
    font-size: 150%;
    font-weight: bolder;
    justify-self: center;
    
}

#menuMain {
    display: grid;
    grid-template-areas: "buttonG1 buttonG2" "topThreeG1 topThreeG2";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-top: 10px;
    /* gap: 15px; */
    scrollbar-width: 0;
    
    /* overflow: hidden; */

}

#gameButtonG1 {
    grid-area: buttonG1;

}

#gameButtonG2 {
    grid-area: buttonG2;
}

#topThreeG1 {
    grid-area: topThreeG1;
    width: 90%;
}

#topThreeG2 {
    grid-area: topThreeG2;
    width: 90%;
}



#registerMain {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c7d3e8;
    width: 500px;
    height: 600px;
    padding: 40px;
    margin-top: 30px;

}

#registerationInputsParent {
    padding: 15px;
    text-align: right;
    
}

.registerationInputs {
    padding: 20px;
    
}

.registerationInputs input {
    padding: 20px;
}

#registerationParagraph {
    width: 400px;
    text-align: left;
}

#registerationNotice {
    text-align: center;
    padding: 15px;
    
}

.registerationButtons {
    margin: 10px;
    border: solid 5px #d80032;
}

.iconButtons {
    padding: 5px;

}

.iconButtons button {
    margin: 5px;
    padding: 5px;
    width: fit-content;
    /* border: solid 5px #d80032; */
    height: fit-content;

}

.usersScoreDisplayed {
    background-image: linear-gradient(to right, #edf2f4 , #8d99ae);
    border: solid 2px #d80032;
    color: black !important;
}


#firstPlaceLeaderBoard {
    box-shadow: 0 4px 10px #a3a326;
    border: solid 5px #a3a326;

}

#secondPlaceLeaderBoard {
    box-shadow: 0 4px 10px #666c6f;
    border: solid 5px #666c6f;

}

#thirdPlaceLeaderBoard {
    box-shadow: 0 4px 10px #af532f;
    border: solid 5px #af532f;

}


